{% extends 'base.html' %}
{% block page_content %}
    {% for event in events %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ event.title }}</h5>
                <p class="card-text">Published on: {{ event.published_on|date:"M d, Y" }}</p>
                <a href="{% url 'view event' event.pk %}" class="btn btn-primary">View</a>
                {% if request.user.type == 'Teacher'%}
                    <a href="{% url 'edit event' event.pk %}" class="btn btn-warning">Edit</a>
                    <a href="{% url 'delete event' event.pk %}" class="btn btn-danger">Delete</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
{% endblock %}