{% extends 'base.html' %}
{% block title %}
    Create Quiz
{% endblock %}
{% block page_content %}
    <h2 class="mb-3">Add a new quiz</h2>
    <p>Each quiz has maximum points and required point to pass, but each question has the same weight</p>
    <p>Example: 100 max points with 5 questions (100 / 5 = 20 points per question)</p>
    <div class="row">
        <div class="col-md-6 col-sm-8 col-12">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Save</button>
                <a href="{% url 'teacher quizzes' %}" class="btn btn-outline-secondary" role="button">Nevermind</a>
            </form>
        </div>
    </div>
{% endblock %} %}