{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ quiz.name }}
{% endblock %}
{% block page_content %}
    <div style="text-align: center;"><h1>{{ quiz.name }}</h1></div>
    <div class="row score-box">
        <div class="col">
            <h4><strong>Score to pass: {{ quiz.required_score_to_pass }}</strong></h4>
        </div>
        <div class="col">
            <h4 class="float-right" id="timer-heading"></h4>
        </div>
    </div>

    <form method="post" id="quiz-form" action="{% url 'take quiz' quiz.pk %}" class="mt-3 mb-3" onsubmit="console.log('asasa')">
        {% csrf_token %}
        <div id="quiz-box"></div>
        <button type="submit" class="btn btn-primary mt-3">Complete</button>
    </form>
    <div class="score-box"></div>

{% endblock %}
{% block scripts %}
    <script src="{% static 'scripts/quiz.js' %}"></script>
{% endblock %}
