{% extends 'base.html' %}

{% block page_content %}
    <h2 class="mb-3">
        {{ quiz.name }}
        <a href="{% url 'result quiz' quiz.id %}" class="btn btn-primary float-right">View results</a>
    </h2>
    <div class="row mb-3">
        <div class="col-md-6 col-sm-8 col-12">
            <form method="post" action="{% url 'update quiz' quiz.pk %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Save changes</button>
                <a href="{% url 'quizzes' %}" class="btn btn-outline-secondary" role="button">Nevermind</a>
                <a href="{% url 'delete quiz' quiz.id %}" class="btn btn-danger float-right">Delete</a>
            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-10">
                    <strong>Questions</strong>
                </div>
                <div class="col-2">
                    <strong>Answers</strong>
                </div>
            </div>
        </div>
        <div class="list-group list-group-flush list-group-formset">
            {% for question in questions %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-10">
                            <a href="{% url 'update question' quiz.pk question.pk %}">{{ question.question }}</a>
                        </div>
                        <div class="col-2">
                            {{ question.answers_count }}
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="list-group-item text-center">
                    <p class="text-muted font-italic mb-0">You haven't created any questions yet. Go ahead and <a
                            href="">add the first question</a>.</p>
                </div>
            {% endfor %}
        </div>
        <div class="card-footer">
            <a href="{% url 'create question' quiz.pk %}" class="btn btn-primary btn-sm">Add question</a>
        </div>
    </div>
{% endblock %}