{% extends 'base.html' %}
{% block title %}
    Edit Quiz
{% endblock %}
{% block page_content %}
    <h2 class="mb-3">
        {{ quiz.name }}
    </h2>
    <div class="row mb-3">
        <div class="col-md-6 col-sm-8 col-12">
            <form method="post" action="{% url 'update quiz' quiz.pk %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Save changes</button>
                <a href="{% url 'delete quiz' quiz.id %}" class="btn btn-danger">Delete</a>
            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-10">
                    <strong>Questions</strong>
                </div>
                <div class="col-2">
                    <strong>Answer</strong>
                </div>
            </div>
        </div>
        <div class="list-group list-group-flush list-group-formset">
            {% for question in questions %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-10">
                            <a href="{% url 'update question' quiz.pk question.pk %}">{{ question.question }}</a>
                        </div>
                        <div class="col-2">
                            {{ question.correct_option }}
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="list-group-item text-center">
                    <p class="text-muted font-italic mb-0">You haven't created any questions yet. Go ahead and <a
                            href="{% url 'create question' quiz.pk %}">add the first question</a>.</p>
                </div>
            {% endfor %}
        </div>

        <div class="card-footer">
            {% if questions %}
                <a href="{% url 'create question' quiz.pk %}" class="btn btn-primary btn-sm">Add question</a>
            {% endif %}
        </div>
    </div>
    <h5><i>Click on Question's name to Edit it</i></h5>
    <h5><i>Note that the student can see quizzes that have >= 5 questions</i></h5>
{% endblock %}