{% extends 'base.html' %}

{% block page_content %}

    <h2 style="text-align: center;">Quizzes</h2>
    <h4><a href="{% url 'create quiz' %}">Add a new Quiz</a></h4>

    <div class="card">
        <table class="table mb-0">
            <thead>
            <tr>
                <th>Quiz</th>
                <th>Subject</th>
                <th>Score</th>
                <th>Questions</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{ quizzes|length }}
            {% for quiz in quizzes %}
                <tr>
                    <td class="align-middle">{{ quiz.name }}</td>
                    <td class="align-middle">{{ quiz.subject.get_html_badge }}</td>
                    <td class="align-middle">{{ quiz.max_score }}</td>
                    <td class="align-middle">{{ quiz.get_questions|length }}</td>
                    <td class="text-right">
                            <a href="{% url 'result quiz' quiz.id %}" class="btn btn-primary">Results</a>
                            <a href="{% url 'update quiz' quiz.id %}" class="btn btn-warning">Edit quiz</a>
                    </td>

                </tr>
            {% empty %}
                <tr>
                    <td class="bg-light text-center font-italic" colspan="4">No quizzes created yet.</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>

{% endblock %}